# Database Configuration
POSTGRES_DB=odoo
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# Odoo Configuration
ODOO_ADMIN_PASSWORD=admin

# Ports
ODOO_PORT=8069
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# pgAdmin Configuration
PGADMIN_EMAIL=admin@nex-odoo.local
PGADMIN_PASSWORD=admin
