<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu - parent menus only, no actions -->
    <menuitem id="menu_nexaml_root"
              name="NexAML"
              sequence="50"
              web_icon="nexaml,static/description/icon.png"/>

    <!-- Operations Menu -->
    <menuitem id="menu_operations"
              name="Operations"
              parent="menu_nexaml_root"
              sequence="10"/>

    <!-- Reporting Menu -->
    <menuitem id="menu_reporting"
              name="Reporting"
              parent="menu_nexaml_root"
              sequence="50"/>

</odoo>
